<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:allowBackup="false"
        android:supportsRtl="true">

        <service
            android:name="com.interrupt.app.protection.InterruptVpnService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:foregroundServiceType="specialUse">

            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="INTERRUPT Protection VPN traffic filtering and interruption" />

            <intent-filter>

                <action
                    android:name="android.net.VpnService" />

            </intent-filter>

        </service>

    </application>

</manifest>
